@media(prefers-color-scheme: dark) {
    .dynamic-theme {
        --background-color: #111111;
        --page-color: #222222;
        --font-color: #FFFFFF;
        --link-color: #94b7ff;
        --link-clicked-color: #f7a6f7;
        --code-color: #343434;
        --code-added: #396339;
        --code-modified: #807725;
    }
}
@media(prefers-color-scheme: light) {
    .dynamic-theme {
        --background-color: #F0F1F2;
        --page-color: #FFFFFF;
        --font-color: #000000;
        --link-color: #0044cf;
        --link-clicked-color: #920392;
        --code-color: #e6e6e6;
        --code-added: #b5ebb5;
        --code-modified: #eae299;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: var(--font-color);
}
html {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}
body {
    background-color: var(--page-color);
    max-width: 900px;
    width: inherit;
    display: flex;
    margin: 0;
    row-gap: 2rem;
    flex-direction: column;
}
header {
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
header > p {
    text-align: center;
}
nav, article {
    padding: 0rem 1rem;
}
section:first-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
footer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid grey;
}
div {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-size: 15pt;
}
h2 {
    margin-bottom: 0.5rem;
    font-size: 14pt;
}
h3 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    font-size: 13pt;
}
h4 {
    margin-bottom: 0.5rem;
    font-size: 12pt;
}
p {
    text-align: justify;
    line-height: 18pt;
}
a {
    color: var(--link-color);   
}
a:visited {
    color: var(--link-clicked-color)
}
code {
    background-color: var(--code-color);
    font-family: monospace;
    padding: 3px 5px 0px 5px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
code.added {
    background-color: var(--code-added);
}
code.modified {
    background-color: var(--code-modified);;
}
code.deleted {
    background-color: #daa9a9;
}

/* Specific for nav contents */
nav>ol, nav>ol>li>ul, nav>ol>li>ul>li>details>ul {
    display: grid;
    row-gap: 1.0rem;
}
nav > ol > li > a {
    display: block;
    margin-bottom: 1.0rem;
}
summary {
    cursor: pointer;
}
details > ul {
    padding-top: 1rem;
}
figure {
    display: grid;
    justify-content: center;
    align-content: end;
    justify-items: center;
    row-gap: 1rem;
    margin: 0;
}
img {
    max-height: 40vh;
}
figcaption {
    font-style: italic;
    text-align: center;
}
video {
    width: 100%;
    height: 50vh;
}

@media print {
    h2, footer {
        page-break-before:always
    }
}